<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huangyuanlove.androidjetpack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".architecture.roomword.NewWordActivity"></activity>
        <activity android:name=".architecture.roomword.RoomWordActivity" />
        <activity android:name=".architecture.lifecycles.WithoutLifeCycleActivity" />
        <activity
            android:name=".ui.palette.PaletteActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.animation.SharedElementActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.animation.RevealOrHideViewActivity" />
        <activity android:name=".ui.animation.AnimationDrawableGraphicsActivity" />
        <activity android:name=".ui.animation.AnimationActivity" />
        <activity android:name=".behavior.downloadmanager.DownloadManagerActivity" />
        <activity android:name=".architecture.paging.PagingActivity" />
        <activity android:name=".architecture.workmanager.WorkManagerActivity" />
        <activity android:name=".architecture.viewmodel.ViewModelActivity" />
        <activity android:name=".architecture.room.RoomActivity" />
        <activity android:name=".architecture.navigation.NavigationActivity" />
        <activity android:name=".architecture.livedata.LiveDataActivity" />
        <activity android:name=".architecture.lifecycles.LifecycleObserverActivity" />
        <activity android:name=".foundation.AppCompatViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>